body {
  color: #40514E;
  margin: 0;
  text-align: center;
  background-color: #cb9b42;
}

.hr_index {
  border: solid #cb9b42 2px;
  border-bottom: none;
  width: 50%;

}
/* CSS for Welcome Page  */
#nav{
  background-color: #f79c1d;
}

#nav .nav-link {
  font-size: 1.4rem;
}

.Logo{
  width: 4%;
}

.Logo2{
  width: 25%;
}

.intro{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f79c1d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search{
  /* background-color: #ff6337; */
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.drop-down{
  background-color: #ff6337;
  margin-bottom: 10px;
}

/* CSS for List of Restaurants */

.box1{
  margin: 20px auto 20px auto;
  background-color: #f79c1d;
  border: solid;
  border-color: #66BFBF;
}

.box2{
  margin: 20px auto 20px auto;
  background-color: #f79c1d;
  border: solid;
  border-color: #66BFBF;
}

.type{
  background: #ff6337;
  display: inline-block;
  border: solid;
  padding: 3px 3px 3px 3px;
}

.res1{
  width: 50%;
}

.resDesc{
  padding-bottom: 5px;
}

.box1:hover{
  border-color: #ff6337;
  background-color: #ff8246;

}

.resLink{
  text-decoration: none;
  color: #40514E;
}

.resLink:hover{
  text-decoration: none;
  color: #212121;
}

/* CSS for Order Page */

.order{
  background-color: #f79c1d;
  margin: 5% 16% 5% 16%;
  border: solid;
  padding-top: 20px;
  padding-bottom: 20px;

}

/* .content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
} */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #40514E;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #cb9b42;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    padding-left: 30px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #40514E;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #40514E;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #40514E;
    background-color: #eee;
    color: #40514E;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid #40514E;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #40514E;
    margin-right: 20px;
}

.cart-total-price {
    color: #40514E;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    border-color: #211717;
    background-color: #b55400;
}

.btn-purchase:hover{
  background-color: #211717;
  border-color: #211717;
}

/* CSS for Checkout Page */

.checkout{
  background-color: #f79c1d;
  margin: 5% 12% 5% 12%;
  border: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.check-form{
  margin: 6px auto 6px auto;
  width: 50%;
}

/* CSS for Menu Page */

.intro_menu{
  padding-top: 15px;
}

.foodpic{
  width: 300px;
  height: 175px;
  margin: 35px auto 15px auto;
}

.foodDesc{
  margin: 10px auto 14px auto;
}
